[Desktop Entry]
Type=Application
Name=Fynodoro
GenericName=Timer
Comment=Pomodoro widget
Exec=/usr/bin/fynodoro
Icon=/usr/share/pixmaps/fynodoro.png
Categories=Utility;Clock;
