name: build
on:
  push:
    branches:
      - '**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Dev dependencies
        run: sudo apt-get update && sudo apt-get install gcc libgl1-mesa-dev libegl1-mesa-dev libgles2-mesa-dev libx11-dev xorg-dev
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: Generate assets
        run: |
          go install fyne.io/fyne/v2/cmd/fyne@latest
          echo "go generate"
          go generate -v ./...
          echo "Git status"
          git status --short
          # Ensure repo clean after go generate
          git diff-index --quiet HEAD --
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
